
            p{
             width: 300%;
                margin: 1%;
                padding: 5%;
                border: 10 solid rgb(32, 29, 29);
                background: rgb(17, 94, 0);
                font-size: larger;
                font-style: italic;
                font-family: sans-serif;
                font-weight:bolder;
                color: darkorange;
            }
        